:root {
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-light-cyan: hsl(168, 64%, 52%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%)
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* , img{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cream);
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  max-width: 100%;
}

body, button, p, h1, h2, h3 {
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Fraunces', serif; */
  font-weight: 600;
  font-size: 1.02rem;
}